<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>註冊頁面</title>
</head>

<body>
<!--	<div th:replace="~{layout/navbar}"></div> -->
	
	

	<div class="container">
		
		<h1>註冊 Page</h1>
		<form th:action="@{/member/postRegister}" method="post">

			<div class="container">
				<label for="memberEmail"><b>MemberEmail</b></label>
				<input type="text" placeholder="Enter MemberEmail" name="memberEmail" required>

				<label for="psw"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="psw" required>

				<button type="submit">Login</button>
			</div>
		</form>
	</div>
	<div th:text="${errorMsg} ? ${errorMsg}"></div>
	<div th:text="${okMsg} ? ${okMsg}"></div>
</body>

</html>